body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
div {
    overflow: hidden;
    width: 1000px;
    height: 100vh;
    display: block;
    margin: auto;
    background-color: #28218a;
}
header, section {
    display: flex;
    justify-content: center;
}
h1 {
    color: white;
    border-bottom: 6px solid black;
    border-radius: 5px;
    padding-bottom: 10px;
    font-size: 40pt;
    text-align: center;
    width: 500px;
}
h2 {
    color: white;
    width: 100%;
    border-bottom: 6px solid black;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
section {
    display: block;
    width: 100%;
    text-align: center;
}
a {
    border-radius: 10px;
    display: flex;
    width: fit-content;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: blue;
    border: 5px blue solid;
    background-color: lightblue;
    text-decoration: none;
    vertical-align: middle;
    font-size: 20pt;
    transition: 0.3s;
    padding: 10px;
}
a:hover {
    background-color: blue;
    color: white;
    transform: translateY(-20px);
}