h1 {
    border-bottom: 1px solid black;
    padding: 20px;
    font-size: 50pt;
    text-align: center;
}
h2 {
    display: block;
    border-bottom: 1px solid black;
    padding: 20px;
    text-align: center;
}
section {
    display: flex;
    justify-content: center;
    padding: 30px;
}
a {
    display: block;
    text-align: center;
    color: lightcoral;
    font-size: 20pt;
    text-align: center;
    text-decoration: none;
    border: 5px lightcoral solid;
    background-color: lightsalmon;
    transition: 0.3s;
    justify-content: center;
}
a:hover {
    background-color: lightcoral;
    color: white;
    transform: translateY(-20px);
}